.video{
    width: 100%;
    height: 462px;
    position: static;
    margin-bottom: 3%;
}   

.Content{
    height: 100%;
}

.scroll
{
    height: 462px;
    float: right;
    overflow: auto;
}

.scroll::-webkit-scrollbar { width: 0 !important }
.scroll { overflow: -moz-scrollbars-none; }
.scroll { -ms-overflow-style: none; }

.scrollable { 
    display: none; 
    }

.fix
{
    float: left;
}

.right{
    right: 10px;
}

.imagenReceta{
    border-radius: 100%;
}

.btnAdminReceta{  
    display: flex;
    flex-direction: row;

}

.btnAdminProducto{  
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 162px;
    right: 150px;
}

.btn{
    padding: 10px 50px 10px 50px !important;

}

/* receta detalle  */
.borderRadio0{
    border-radius: 0px;
}

.recetaDetalleTitulo{
    display: flex;
    flex-direction: row;
}

.recetaDetalleBtn{
    display: flex;
    flex-direction: row;
    justify-content: start;
}


@media only screen and (max-width:769px) {
    .recetaDetalleBtn{
        justify-content: start;
        margin: 3% 0;
    }

}


