html, body {
    max-width: 100%;
    overflow-x: hidden;
}
p{
    font-size: 120%;
}

/* hide scroll bar */
.inner::-webkit-scrollbar {
    display: none;
}
    
.inner {
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none; }
::-webkit-scrollbar { 
display: none; 
}
.navbar-custom {
    background-color: rgba(247, 112, 218, 0);
    border-style: none;

}


.nav-link:hover{
    color: rgb(255, 0, 234) !important;
    border-style: none !important;
    
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active{
    background-color: #343a40 !important;
    border-style: none !important;
    color: white !important;
}


.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: #343a40;
    border-style: none;
}

/* logo  */
.logo{
    width: 120px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: -12px;
    left: 36px;
}

/* carousel  */
.carousel-caption{
    bottom: 30px;
}

.jumbotronMovimiento{
    width: 30wh;    
    height: 70vh;
    color: #fff;     
    background-size: 250% 250%;
    -webkit-animation: Gradient 15s ease infinite;      
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    border-radius: 0px;
    padding-top: 0px;
    text-align: center;
    display: flex;

}



.jumboEstatico{
    width: 30wh;    
    height: 70vh;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 0px; 
    padding-top: 0px;
    text-align: center;
    display: flex;
    margin-bottom: 3%;

}


.jumboDetalleReceta{    
    width: 30wh;    
    height: 40vh;
    color: #fff;
    background-size: 100% 100%;
    background-attachment: fixed;
    border-radius: 0px; 
    padding-top: 0px;
    text-align: center;
    display: flex;
    margin-bottom: 3%;

}


.jumbotronContainer{
    margin: auto;
    background-color: #00000079;
    padding: 1% 10% 3% 10%;
    border-radius: 2%;
}

/* css para que siga el formato del text area con todos los enters  */
.textAreaSaltoLinea{
    white-space: pre-wrap !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-outline-primary{   
    width: 100%;
    border-color: rgba(247, 112, 218, 1);
    color: rgba(247, 112, 218, 1);
    align-items: center !important;
    padding: 10px 20% 10px 20% !important;
    margin-top: 1%;   
}

.container{
    margin-top: 30px;
}

.btnCentral{
    margin-top: 15px;
    text-align: center;
}

.btn-outline-primary:hover{
    background-color: rgba(247, 112, 218, 1);
    color: white;
    border-color: rgba(247, 112, 218, 1);
}

.espacioV{
    margin-top: 15px;
}

.list-group-item{
    border-color: white;
}

.colorBlanco{
    color: white;
}

.colorBlack{
    color: black;
}

.colorPink{
    color: rgb(255, 0, 200);
}

.widthCompleto{
    width: 100%;    
}



.agregarPadding{
    padding: 10px;
}

.card{
    border: none;
}

.card-header{
    background-color: rgba(247, 112, 218, 0);
    border-style: none;
    font-weight: bold;
}

.tituloCard{
    font-size: 200%;
    color: rgb(218, 83, 206);
}

/* eliminar border radius */
.btn, .jumbotron, .nav :hover {
    border-radius: 0px;
}
    
/* imagen prodcuto  */
.productoImagen{
    min-height: 100px;
}

.modal-dialog{
    background-color: white;
}


.mt10{ 
    margin-top: 100px !important;
    padding-top: 50px;
}
textarea.form-control{
    width: 100%;
    height: 250px !important;
    resize: none;
}

/* alert de eliminar  */
.react-confirm-alert-body{
    width: 1000px !important;
    color: black !important;    
    text-align: center !important;
    background: #fff1fe !important;
}

.react-confirm-alert-overlay{
    background: rgba(21, 12, 20, 0.5) !important;
}

.react-confirm-alert-button-group{
    justify-content: center !important;
}

.react-confirm-alert-button-group > button{
    font-size: 21px !important;
    background: #ff00ea !important;
}

/* perfil */
.perfilCardHeader{
    background-color: #ff00ea !important;
    color: white;
}


.list-group-item{
    border-style: none !important;
}
.perfilCardImg{
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.perfilCardImg:hover {
    transform: translate3D(0,-1px,0) scale(1.20);
  }

  .responsiveMenu{
      display: flex;
      flex-direction: row;
      justify-content: end;
      overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

  }

  .carousel img{
    display: block !important;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        position: fixed !important;
        top: 60px !important;
        left: 50% !important;
        padding-left: 20px;
    }

    /* tablet pro  */
    @media only screen and (max-width:1024px) {
        .logo{
            display: none;
        }
        .navbar-expand-lg .navbar-nav .dropdown-menu{
            position: fixed !important;
            top: 60px !important;
            left: 30% !important;
            padding-left: 20px;
        }
    }

    /* tablet  */
  @media only screen and (max-width:769px) {
    .logo{
        top: -12px;
    }
    .responsiveMenu{
        flex-direction: row;
        width: 60% !important;
        height: 42px;
         text-align: center;
    }

    /* dropdown-menu responsive  */
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        position: fixed !important;
        top: 66px !important;
        left: 50% !important;
        padding-left: 20px;
    }

    .footerCss{
        height: 170px;
    }
    .footerHeightSocialMedia{
        height: 25px;
    }


  }

  /* mobile  */
  @media only screen and (max-width:414px) {
    h1, .h1 {
        font-size: 1.5rem;
    }

    .logo{
        display: none;
    }

    /* carousel  */
      /* desaparecerlo para meter otra img en mobil  */
    .carousel img{
        display: none !important;
    }

    /* meter otras img  */
    .imgCarrousel1{
        background-image: url("https://scontent.fsyq3-1.fna.fbcdn.net/v/t1.0-9/s960x960/86430885_3490555110971444_7543001747703201792_o.jpg?_nc_cat=101&_nc_sid=110474&_nc_ohc=cIhSmXFY0w4AX9paiJl&_nc_ht=scontent.fsyq3-1.fna&_nc_tp=7&oh=846d33d287620f2d81aad8768394f02b&oe=5EA8E870");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 900px;
    }
    .imgCarrousel2{
        background-image: url("https://scontent.fsyq2-1.fna.fbcdn.net/v/t1.0-9/p960x960/80053578_3342971355729821_1648596056671256576_o.jpg?_nc_cat=101&_nc_sid=2d5d41&_nc_ohc=XCueutztCFEAX-ovbAd&_nc_ht=scontent.fsyq2-1.fna&_nc_tp=6&oh=84268756a4f6303597ec96792d5dc966&oe=5EA75AC5");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 900px;
    }
    .imgCarrousel3{
        background-image: url("https://scontent.fsyq3-1.fna.fbcdn.net/v/t1.0-9/s960x960/75289058_3223447527682205_6964365143492788224_o.jpg?_nc_cat=111&_nc_sid=2d5d41&_nc_ohc=ILUliPHPfisAX9514ei&_nc_ht=scontent.fsyq3-1.fna&_nc_tp=7&oh=11cc018146079cc709352d02a063f0ac&oe=5EA7ABE6");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 900px;
    }
    /* darle gradiente al carrousel  */
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: radial-gradient(circle, rgb(0, 9, 56) 0%, rgb(255, 0, 52) 100%);
        opacity: .5;
    }
    .carousel-caption {
        bottom: 351px;
    }

    .sizeB{
        font-size: 50px;
    }

    /* footer  */
    .footerCss {
        height: 364px;
    }
    /* perfil  */
    .perfilCardImg{
        margin: auto;
    }
  }
  
