p{
    font-size: 120%;
}
.navbar-custom {
    background-color: rgba(247, 112, 218, 0);
    border-style: none;

}


.nav-link:hover{
    color: rgb(0, 0, 0) !important;
    border-style: none !important;
    
}



.jumbotron{
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    border-radius: 0px;
    padding-top: 0px;
    text-align: center;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-outline-primary{
    border-color: rgba(247, 112, 218, 1);
    color: rgba(247, 112, 218, 1);
    padding: 15px 100px;      
}

.container{
    margin-top: 30px;
}

.btnCentral{
    margin-top: 15px;
    text-align: center;
}

.btn-outline-primary:hover{
    background-color: rgba(247, 112, 218, 1);
    color: white;
    border-color: rgba(247, 112, 218, 1);
}

.espacioV{
    margin-top: 15px;
}

.list-group-item{
    border-color: white;
}

.colorBlanco{
    color: white;
}

.colorBlack{
    color: black;
}

.widthCompleto{
    width: 100%;
}

.alert{
    background-color: rgba(247, 112, 218, 0.2);
    border-color: rgba(247, 112, 218, 0.2);
}

.agregarPadding{
    padding: 10px;
}

.card{
    border: none;
}

.card-header{
    background-color: rgba(247, 112, 218, 0);
    border-style: none;
    font-weight: bold;
}

.tituloCard{
    font-size: 200%;
    color: rgb(218, 83, 206);
}

/* eliminar border radius */
.btn, .jumbotron, .nav :hover {
    border-radius: 0px;
}

/* imagen prodcuto  */
.productoImagen{
    min-height: 100px;
}

.modal-dialog{
    background-color: white;
}





